
@font-face {
    font-family: MyFont;
    src: url(AIT-font-thin.ttf);
}
li{
    padding: 20px;

}
#MyFont{
    
    font-family: MyFont;
}
.border{
    background: linear-gradient(95.99deg,#92fe9d 0%,#00c9ff 100%);
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 16px #004a5d1a;
    padding: 20px 80px;
    border: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    color: #0e243c;
    margin: 20px;
    padding:20px ;
    width:300px;
}
.language-button{
    background-color: #0e243c ;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 16px #004a5d1a;
    padding: 20px 40px;
    border: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    color: #0e243c;
    margin: 20px;
    padding:20px ;
    width:150px;
}
.p-teg{
    font-family: MyFont;
    background: -webkit-linear-gradient(45deg,#92fe9d,#00c9ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: .02em;
    font-size: 170px;
    font-weight: 900;
}
.img{
    margin: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px 0px;
    object-fit: cover;
}
.img img{
    object-fit: cover;
    width: 500px;
    border-radius: 20px 20px 0px 0px;
    margin: 20px;
}